<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8" />
    <title>{% block title %} Newzfox | {% endblock title %}</title>

    <meta name="robots" content="index, follow" />

    <meta name="description" content="" />
    {% include "meta/meta_tags.html" %} {% block meta %}{% endblock meta %}
    <!--=============== css  ===============-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/plugins.css' %}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/color.css' %}"
    />
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static 'images/newsfoxn.png' %}" />

    <!--=============== TODO! ADS SETTINGS ===============-->
    <!--=============== infolink! ADS SETTINGS ===============-->
    <script
      src="https://d3u598arehftfk.cloudfront.net/prebid_hb_6551_11135.js"
      async
    ></script>
    <!--hb ads-->
    <script
      src="https://d3u598arehftfk.cloudfront.net/prebid_hb_6551_11135.js"
      async
    ></script>
    <!--end-->

    <!--monetaggg adds-->
    <script>
      (function (d, z, s) {
        s.src = "https://" + d + "/400/" + z;
        try {
          (document.body || document.documentElement).appendChild(s);
        } catch (e) {}
      })("niwooghu.com", 6646067, document.createElement("script"));
    </script>
    <script>
      (function (d, z, s) {
        s.src = "https://" + d + "/401/" + z;
        try {
          (document.body || document.documentElement).appendChild(s);
        } catch (e) {}
      })("gloaphoo.net", 6646072, document.createElement("script"));
    </script>
    <script>
      (function (d, z, s) {
        s.src = "https://" + d + "/401/" + z;
        try {
          (document.body || document.documentElement).appendChild(s);
        } catch (e) {}
      })("goomaphy.com", 6646076, document.createElement("script"));
    </script>
    <script
      async="async"
      data-cfasync="false"
      src="//thubanoa.com/1?z=6646084"
    ></script>
    <script
      src="https://yonhelioliskor.com/pfe/current/tag.min.js?z=6646091"
      data-cfasync="false"
      async
    ></script>
    <script
      src="https://vaugroar.com/pfe/current/tag.min.js?z=6632080"
      data-cfasync="false"
      async
    ></script>
    <script
      src="https://upkoffingr.com/pfe/current/tag.min.js?z=6632082"
      data-cfasync="false"
      async
    ></script>
    <script
      src="https://chezoams.com/pfe/current/tag.min.js?z=6646091"
      data-cfasync="false"
      async
    ></script>

    <!--monetaggg-->

    <meta name="monetag" content="a94a5f454d65eac1c1b5dd81ad9d91a4" />
    <!---->

    <!---->

    <!--gooogle adsense-->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1953601505191645"
      crossorigin="anonymous"
    ></script>
    <meta name="google-adsense-account" content="ca-pub-1953601505191645" />
    <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  </head>

  <body>
    <script src="https://flixorix.com/cu/9eadf1b326cdc1c4.js?force_https=1&p1=&p2=&source=&site="></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-ML3DTWNH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- main start  -->
    <div id="main">
      <!-- progress-bar  -->
      <div class="progress-bar-wrap">
        <div class="progress-bar color-bg"></div>
      </div>
      <!-- progress-bar end -->

      <!-- header -->
      {% include "common/header.html" %}
      <!-- /header -->

      <!--Wrapper-->

      <div id="wrapper">
        <div class="content">{% block content %} {% endblock content %}</div>
        <!---->

        <!-- footer -->
        {% include "common/footer.html" %}
        <!-- /footer -->

        {% block aside %} {% endblock aside %}

        <div class="aside-panel">
          <ul>
            <!-- <li> <a href="{% url 'posts:posts' %}"><i class="fa-brands fa-neos"></i><span>News</span></a></li> -->
            <li>
              <a href="{% url 'posts:posts' %}"
                ><i class="far fa-podium"></i><span>News</span></a
              >
            </li>
            <li>
              <a href="{% url 'posts:posts' %}"
                ><i class="far fa-atom"></i><span>Entertainment</span></a
              >
            </li>
            <li>
              <a href="{% url 'posts:posts' %}"
                ><i class="far fa-user-chart"></i><span>Business</span></a
              >
            </li>
            <li>
              <a href="{% url 'posts:posts' %}"
                ><i class="far fa-tennis-ball"></i><span>Sports</span></a
              >
            </li>
            <li>
              <a href="{% url 'posts:posts' %}"
                ><i class="far fa-flask"></i><span>Internet</span></a
              >
            </li>
          </ul>
        </div>
      </div>

      <!--/Wrapper-->

      <!-- cookie-info-bar -->
      <div class="cookie-info-bar">
        <div class="container">
          <div class="cookie-info-bar_title">
            <i class="fal fa-cookie"></i>Our site uses cookies to improve our
            services. Learn more about our use of cookies:
            <a href="{% url 'privacy' %}">Cookie policy</a>
          </div>
          <a href="#" class="sicb_btn color-bg">Accept</a>
          <a href="#" class="sicb_btn">Reject</a>
        </div>
      </div>
      <!-- cookie-info-bar end -->

      <script>
        // Check if the user has already seen the notification by looking for a cookie
        function hasCookieConsent() {
          return document.cookie.indexOf("cookieConsent=true") !== -1;
        }

        // Function to set a cookie that indicates the user has accepted the cookies
        function setCookieConsent() {
          var expirationDate = new Date();
          expirationDate.setFullYear(expirationDate.getFullYear() + 5); // Cookie valid for 1 year
          document.cookie =
            "cookieConsent=true; expires=" +
            expirationDate.toUTCString() +
            "; path=/";
        }

        // Show the cookie notification only if the user hasn't seen it before
        if (!hasCookieConsent()) {
          var cookieInfoBar = document.getElementById("cookie-info-bar");
          var acceptCookieButton = document.getElementById("accept-cookie");
          var rejectCookieButton = document.getElementById("reject-cookie");

          if (cookieInfoBar && acceptCookieButton && rejectCookieButton) {
            cookieInfoBar.style.display = "block";

            acceptCookieButton.addEventListener("click", function () {
              setCookieConsent();
              cookieInfoBar.style.display = "none";
              // You can add code here to handle cookie acceptance
            });

            rejectCookieButton.addEventListener("click", function () {
              cookieInfoBar.style.display = "none";
              // You can add code here to handle cookie rejection
            });
          }
        }
      </script>
    </div>
    <!--=============== scripts  ===============-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/contextmenu.js' %}"></script>

    <script>
      const isNoticeSeen = window.localStorage["noticeSeen"] === "true";
      if (isNoticeSeen) {
        $(".cookie-info-bar").css("display", "none");
      } else {
        $(".sicb_btn").click(function () {
          window.localStorage["noticeSeen"] = true;
        });
      }
    </script>

    <script>
      const windowLocation = window.location.href;
      const searchInput = document.getElementById("lionnic_qs");
      const searchForm = document.getElementById("lionnic_qs_form");
      const resultBox = document.getElementById("lionnic_result");
      const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0]
        .value;
      console.log(csrfToken);

      searchInput.addEventListener("keyup", function (e) {
        console.log(e.target.value);
      });
    </script>
    <!--=============== infolink! ADS SETTINGS ===============-->
    <script
      src="https://d3u598arehftfk.cloudfront.net/prebid_hb_6551_11135.js"
      async
    ></script>

    <!--ads snipets-->
    

  

    <!--golden goose-->
    <script src="https://jaxolite.com/br/097cbc3fce5a4d2c.js?force_https=1&p1=1&p2=&source=mysite&site="></script>
  </body>
</html>
